<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EMSSoapInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryServiceSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="QueryServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.4.3.12:8080/hitb/services/QueryService.QueryServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="QueryServiceSoap11Binding" contract="ServiceReference1.QueryServicePortType" name="QueryServiceHttpSoap11Endpoint" />
      <endpoint address="http://10.4.3.12:8080/hitb/services/QueryService.QueryServiceHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="QueryServiceSoap12Binding" contract="ServiceReference1.QueryServicePortType" name="QueryServiceHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
  <userSettings>
    <EMSSoapInterface.Properties.Settings>
      <setting name="url" serializeAs="String">
        <value>http://+:21006/</value>
      </setting>
    </EMSSoapInterface.Properties.Settings>
  </userSettings>
</configuration>